@import './base/reset';
@import './base/mixin';
@import './base/variable';

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black-color;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
  &:focus {
    @include removeOutline;
  }
}

ul {
  list-style: none;
}

.error_span {
  width: 100%;
  display: block;
  color: red;
}

.center {
  text-align: center;
}

.align-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.line-split {
  height: 0;
  border-bottom: 2px solid #dcdcdc;
  margin: 10px 0;
}
